@media screen and (max-width:960px){
  #title{z-index: 0;position: relative;}
  body {padding-left: 10px}
  #een {width: 50%; margin: 0 auto; clear: both!important}
 .tekst {width: 100%; font-size: 50px; text-align: left;}
 .tekst p {line-height: 60px;}
 .b{margin-top: 100px; height: auto}
 .img {position: relative;}
 #belgium {width: 50%; left: 0%; margin-top: 100px}
 #belgium img{width: 100%}
 #korea {left: 50%;top:0}
 #korea img{width: 100%}
 #flight {width: 50%;top: 0;left: 25%!important}
 #flight img {width:100%}
 #yoga {width: 100%;margin: 200px auto;}
 #bel{height: 150px; width: 50%; }
 #animaltext {width: 100%}
 #animal {width: 100%; margin-top: 800px}
 #animaltext { margin-top:200px}
 #animalonepos {width: 80%; left: 0%; margin-top: 400px}
 #animalonepos img {width: 50%}
 #animaltwo img {width: 100%}
 #animaltwopos {width: 50%; left: 40%}
 #bacterias {margin-top: 100px}
 #bacteriaonepos {width: 45%; left: 0%; }
 #bacteriatwo {width: 100%}
 #bacteriatwopos {width: 35%;left: 18%}
 #bacteriathreepos {width: 100%; left: 50%; top:-150px}
 #textone {float: left; margin-top: 400px;}
 #bactpartyone {left:0;height: 50px;width: 10%}
 #bactpartyone img {width: 100%;}
 #bactpartytwo {left:0;}
 #bactpartytwo img {top: 0;width: 7%;}
 #bactpartythree {left:50%; top:-50px;}
 #bactpartythree img {width: 10%;}
 #bactpartyfour {left:50%; top:-400px;}
 #bactpartyfour img {width: 15%;}
 #partyme {left: 20%;top:0px;width:50%; height: 200px }
 #texttwo p{font-size: 60px; text-align: left;}
 #form {margin-left: 0}
 #form input {width: 300px}
 #form textarea {width: 300px}
 #submit {width: 332px!important}
 h3 {text-align: left}
}

@media screen and (max-width:640px){
#een {width: 100%; margin-left: 30px}
#korea {left: 50%;top:0; width: 50%}
.tekst {font-size: 34px}
#texttwo p{font-size: 54px}
#form input {width: 200px}
#form textarea {width: 200px}
#submit {width: 232px!important}
}


@media screen and (max-width:480px){

}

@media only screen and (min-width: 320px) {

  /* Small screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

  /* Small screen, retina, stuff to override above media query */

}

@media only screen and (min-width: 700px) {

  /* Medium screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) {

  /* Medium screen, retina, stuff to override above media query */

}

@media only screen and (min-width: 1300px) {

  /* Large screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {

  /* Large screen, retina, stuff to override above media query */

}
