body {
    margin: 0;
    overflow-x: hidden;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

#lijn {
    width: 5px;
    background-color: black;
    margin: 0 auto;
    height: 10px;
}

@font-face {
    font-family: 'mathletebulky';
    src: url('mathlete/mathlete-bulky-webfont.woff2') format('woff2'), url('mathlete/mathlete-bulky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#title {
    font-family: 'mathletebulky';
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
}

#title h1 {
    font-size: 58px;
    line-height: 58px;
    text-align: center;
    color: black;
}

.links {
    margin: 200px 0px;
    width: 100%;
    height: 250px;
}

#een {
    background-image: url(img/11.gif);
    width: 37%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.tekst {
    width: 37%;
    height: 250px;
    font-family: 'Amatic SC', cursive;
    font-size: 52px;
    margin: 0;
}

.rechts {
    float: right;
}

.links {
    float: left;
}

.tekst p {
    height: 70px;
    line-height: 70px;
}

#bel {
    margin-top: 200px;
}

.b {
    width: 100%;
    height: 270px;
    position: relative;
    clear: both;
}

#belgium {
    background-image: url(img/4.png);
    width: 100%;
    left: 45%;
}

#flight {
    background-image: url(img/2.png);
    width: 100%;
    left: 70%;
    top: -30%;
}

#korea {
    background-image: url(img/3.png);
    width: 100%;
    left: 95%;
    top: 150%;
}

#yoga {
    background-image: url(img/5.png);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

#animalonepos {
    height: 100px;
    left: 50%;
}

#animaltwopos {
    height: 200px;
    left: 70%;
    top: 10px;
}

.img {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
}

#bacteriaonepos {
    top: 20px;
    height: 100px;
}

#bacteriatwopos {
    left: 15%;
    height: 100px;
}

#bacteriathreepos {
    left: 35%;
}

.margin {
    margin: 250px auto;
}

.center {
    width: 100%;
    height: 300px;
    position: relative;
    clear: both;
}

#textone p{
  text-align: center;
  font-family: 'mathletebulky';
  font-size: 40px;
}


#bactpartyone {
    left: 20%;
}

#bactpartyone img {
    width: 20%;
}

#html {
    left: 0.5%;
    position: absolute;
}

.hidden {
  visibility: hidden;
}


#bactpartytwo {
    left: 30%;
    height: 100px;
    top: 250px;
}

#bactpartytwo img{
  width: 30%;
}

#clock {
  position: absolute;
  left: 0%;
  top: 40px;
}


#partyme {
    background-image: url(img/partyme.png);
    width: 100%;
    left: 40%;
    height: 250px;
    top: 100px;
}

#bactpartythree {
    left: 60%;
    height: 80px;
    top: 250px;
}

#bactpartythreeimg{
  width: 35%;
}

#css {
  position: absolute;
  left:0;
}

#bactpartyfour {
    left: 60%;
    height: 150px;
}

#bactpartyfourimg{
  width: 40%;
}

#jquery{
  position: absolute;
  left:0;
}

#texttwo {
  margin-top: 50px;
}
#texttwo p{
  text-align: center;
  font-family: 'mathletebulky';
  font-size: 68px;
}
/*----------------------------------------------CONTACT--------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
}

input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
}


/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}

body {
    font-family: 'Lato', sans-serif;
    color: #b3aca7;
}

header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

h4 {
    text-align: center;
    letter-spacing: 2.5px;
}

#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #b3aca7;
    color: #e2dedb;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    resize: none;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
}

#submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    outline: none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;
}

#submit:hover {
    color: #e2dedb;
}
